@font-face {
  font-family: "SeoulHangangM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SeoulHangangM";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  padding: 1rem;
}

p {
  text-align: center;
  font-weight: bold;
}

/* .saved-list {
  position: absolute;
  width: 260px;
  top: 300px;
  left: 40px;
  bottom: 40px;
  padding: 10px 10px;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #118bee;
  overflow-y: scroll;
} */

button {
  /* display: inline-block; */
  box-sizing: border-box;
  display: block;
  /* margin: 0.5rem 0; */
  margin: auto;
  padding: 0.5rem 1rem;
}

#logout {
  margin-bottom: 2%;
}

.saved-list {
  margin: auto;
  width: 70%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  min-height: 150px;
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
}

.saved-list:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.saved-list ul {
  list-style: none;
}

.saved-list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
  /* display: inline; */
}

.saved-list li:last-child {
  border-bottom: none;
}

/* 리스트 컨테이너 설정 */
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
