#map {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

button {
  /* No need for position absolute or transform on the button itself */
  /* Add any desired button styling here */
  padding: 10px 20px;
  font-size: 16px;
}

.button-container {
  position: absolute;
  /* Position relative to the body/viewport */
  top: 20px;
  left: 0; /* Align to the left edge */
  width: 100%; /* Take full width to center its child */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  z-index: 2; /* Ensure it's above the map */
}

.selected-info {
  position: absolute;
  width: 260px;
  top: 300px;
  left: 40px;
  bottom: 40px;
  padding: 10px 10px;
  border-radius: 30px;
  z-index: 2;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #118bee;
  overflow-y: scroll;
}
